#detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    place-self: center;
    align-self: stretch;
    color: white;
    width: 300px;
    height: 190px;
    margin: auto;
    box-shadow: 0;
    padding: 10px;
    transition: 0.6s;
}
#detail:hover {
    box-shadow: 0px 20px 10px 0px #d6d6d6;
    transform: scale3D(1.006, 1.006, 1);
    color: #342A21;
}
#logo{
    width: 55%;
}
@media only screen and (max-width: 700px) {
    #detail {
        width: 250px;
    }
}
@media only screen and (max-width: 400px) {
    #detail {
        width: 200px;
    }
}