.InfosWork{
    width: 85vw;
    margin-left: 3vw;
}
.h2InfosWork{
    text-align: end;
    color: #dc7863;
    font-size: 5vw;
}
.imgInfosWork{
    width: 50vw;
    margin: 70px 0 0 10vw;
}
.pInfosWork{
    width: 60vw;
    margin: 30px 0 0 10vw;
    padding: 0;
}
.linkInfosWork{
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 20vw;
}

.faLinkInfosWork {
    color: #dc7863;
    padding: 10px;
    font-size: 2.5em;
}
.faLinkInfosWork:hover{
    transform: scale3D(1.5, 1.5, 1);
    color: #dc7863;
}